<style type="text/css">
  #provider_rate_down, #provider_rate_up {
    width: 105px;
  }
  #provider_ip, #provider_netmask, #provider_gateway, #provider_pppoe_user, #provider_pppoe_pass {
    width: 105px;
  }
  input.input_address_ip {
    width: 110px;
  }
  input.checkbox_address {
    margin-top: 31px;
  }
  li.delete_address {
    margin-top: 31px;
  }
</style>
<script type="text/javascript">
  $(function(){
    $('.provider_kind').hide();
    $('#' + $('#provider_kind').val()).show();
    $('#provider_kind').change( function(){
      $('.provider_kind').hide();
      $('#' + $(this).val()).show();
    });
    initMoreToggle('#ip_alias_more', 'fieldset#ips ol', 'toggle_provider_ip_more');
  })
</script>
<% unless current_user.may_update_provider?(@provider) %>
<script type="text/javascript">
  $(function(){
    $('input,select,textarea').attr('disabled',true)
  })  
</script>
<% end %>
<div id="main">
<% semantic_form_for @provider do |form| %>
  <%= error_messages @provider %>
  <% form.inputs :name => Provider.human_name do %>
    <%= form.input :name, :wrapper_html => { :class => "left" } %> 
    <%= form.input :state, :as => :select, :collection => Provider.aasm_states_for_select, :include_blank => false %>
    <div style="clear: both"></div> 
    <%= form.input :interface, :wrapper_html => { :class => "left" }, :collection => Interface.find(:all, :conditions => { :kind => "wan" }) %> 
    <%= form.input :provider_group, :wrapper_html => { :class => "left" }  %> 
    <div style="clear: both"></div> 
    <%= form.input :rate_down, :wrapper_html => { :class => "left" } %> 
    <%= form.input :rate_up, :wrapper_html => { :class => "left" }  %> 
    <div style="clear: both"></div> 
    <%= form.input :kind, :as => :select, :collection => Provider.kinds_for_select, :include_blank => false %> 
    <% form.inputs :name => t('fieldsets.provider.configuration_static'), :id => "static", :class => :provider_kind do %>
      <%= form.input :ip, :wrapper_html => { :class => "left" } %> 
      <%= form.input :netmask, :wrapper_html => { :class => "left" }  %> 
      <div style="clear: both"></div> 
      <%= form.input :gateway %> 
    <% end %>
    <% form.inputs :name => t('fieldsets.provider.configuration_adsl'), :id => "adsl", :class => :provider_kind do %>
      <%= form.input :pppoe_user, :wrapper_html => { :class => "left" } %> 
      <%= form.input :pppoe_pass, :wrapper_html => { :class => "left" }  %> 
      <div style="clear: both"></div> 
    <% end %>
    <% form.inputs :name => t('fieldsets.provider.configuration_static_ips') + " <a id=\"ip_alias_more\">#{I18n.t('buttons.more')}</a>", :id => "ips",
                   :context_help => { :path => { :custom => 'plan.fieldsets.configuration_static_ips' } } do %>
      <% form.semantic_fields_for :addresses do |address| %>
        <%= render "shared/address_fields", :f => address %>
      <% end %>
      <li><%= link_to_add_fields t('buttons.add_ip'), form, :addresses %> </li>
    <% end %>
    <% form.inputs :name => t('fieldsets.provider.advanced'), :id => "advanced",
                   :context_help => { :path => { :custom => 'plan.fieldsets.advanced' } } do %>
      <%= form.input :shape_rate_down_on_ingress %>
      <%= form.input :unique_mac_address %>
      <%= form.input :arp_filter %>
      <%= form.input :arp_ignore %>
      <%= form.input :arp_announce %>
    <% end %>
    <%= form_extensions form%>
  <% end %>
  <% if current_user.may_update_provider?(@provider) or current_user.may_create_provider? %>
    <% form.buttons do %>
      <%= if @commit_text.nil? then form.commit_button else form.commit_button @commit_text end %>
    <% end %>
  <% end %>
<% end %>
</div>
