<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "sequreispcharts" %>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    chart_rate = new_chart_rate(<%= Time.zone.utc_offset %>);
  });
  function get_data(){
    $.get('<%= instant_interface_path(@graph.element.interface) %>',null,function(data){
      chart_rate.series[0].addPoint(data.rate_down, true, true);
      chart_rate.series[1].addPoint(data.rate_up, true, true);
    },'json');
  };
  get_data();
  setInterval(function() {
    get_data();
  }, 5000);
</script>

<% heading t('graph.heading', :name => @graph.name) %>
<div class="separador"></div>
<div id="main">
  <table style="width: 747px;" cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.provider.interface' %></th>
        <th><%=t 'activerecord.attributes.provider.rate_down' %></th>
        <th><%=t 'activerecord.attributes.provider.rate_up' %></th>
      </tr>
      <tr class="odd" >
        <td><%= @graph.element.interface.name rescue 'Undefined' %></td>
        <td><%= @graph.element.rate_down %></td>
        <td><%= @graph.element.rate_up %></td>
      </tr>
    </tbody>
  </table>
  <h2><%=t 'graph.instant' %></h2>
  <div id="instant" style="width: 747px; height: 247px"></div>
  <br/>
  <br/>
  <br/>
  <%= render :partial => 'shared/graph_history' %>
</div>
