<% unless current_user.may_update_provider_group?(@provider_group) %>
<script type="text/javascript">
  $(function(){
    $('input,select,textarea').attr('disabled',true)
  })  
</script>
<% end %>
<div id="main">
<% semantic_form_for @provider_group do |form| %>
  <%= error_messages @provider_group %>
  <% form.inputs do %>
    <%= form.input :name, :wrapper_html => { :class => "left" } %> 
    <%= form.input :state, :as => :select, :collection => Provider.aasm_states_for_select, :include_blank => false %>
    <%= form_extensions form%>
  <% end %>
  <% if current_user.may_update_provider_group?(@provider_group) or current_user.may_create_provider_group? %>
    <% form.buttons do %>
      <%= if @commit_text.nil? then form.commit_button else form.commit_button @commit_text end %>
    <% end %>
  <% end %>
<% end %>
</div>
