<% content_for :title, t('menu.provider_groups') %>
<% heading t('menu.provider_groups') %>
<% render_new_button_for :provider_group %>

<%= render :partial => "shared/empty_submenu" %>

<div class="separador"></div>
	
<div class="main">
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.provider_group.name' %></th>
        <th><%=
            "#{t 'activerecord.attributes.provider_group.rate_down'}" +
            " (#{t 'activerecord.attributes.provider_group.concurrency_index'})" %>
            <%= ContextHelp::Base.help_for(:context_help => {:path => {:tag => :th, :custom => 'provider_group.concurrency_index' }, :level_class => 'help_level_1'})%>
        </th>
        <th><%=
            "#{t 'activerecord.attributes.provider_group.rate_up'}" +
            " (#{t 'activerecord.attributes.provider_group.concurrency_index'})" %>
        </th>
        <th><%=t 'activerecord.attributes.provider_group.state' %></th>
        <%= render :partial => "shared/plugins_table_headers" %>
        <% if current_user.may_update_provider_groups? or current_user.may_index_provider_groups? %>
        <th></th> 
        <% end %>
        <% if current_user.may_destroy_provider_group?(ProviderGroup.new) %>
        <th></th> 
        <% end %>
      </tr>
    
      <% @provider_groups.each_with_index do |provider_group,i| %>
        <% css_class = i%2 == 0 ? "even" : "odd" %>
        <tr class="<%= css_class %>" >
          <td>
            <%= provider_group.name %><br/>
            <%= link_to Graph.new(:element => provider_group).img("day", "small"), graph_path(provider_group ,:class => "ProviderGroup") %>
          </td>
          <td><%=h provider_group.rate_down %> (<%= pretty_currency_index(provider_group.concurrency_index_down) %>%)</td>
          <td><%=h provider_group.rate_up %> (<%= pretty_currency_index(provider_group.concurrency_index_up) %>%)</td>
          <td><%=h t "aasm.provider_group.#{provider_group.state}" %></td>
          <%= render :partial => "shared/plugins_table_cells", :locals => {:object => provider_group} %>
          <% if current_user.may_update_provider_group?(provider_group) %>
            <td><%= link_to t('buttons.edit'), edit_provider_group_path(provider_group) %></td>
          <% elsif current_user.may_show_provider_group?(provider_group) %>
            <td><%= link_to t('buttons.show'), provider_group_path(provider_group) %></td>
          <% end %> 
          <% if current_user.may_destroy_provider_group?(provider_group) %>
          <td><%= link_to t('buttons.delete'), provider_group, :confirm => t('messages.confirm'), :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%#= will_paginate @provider_groups %>
