<%= render :partial => 'backup/confirm_restore' %>
<script type="text/javascript">
$(function() {
  $(":submit.restore").click(function (e) {
    e.preventDefault();
    form = $(this).closest('form')
    $('#submit_restore').click(function (e) {
      form.attr('action', form.attr('id') == "upload_full" ? '/backup/upload_full' : '/backup/upload_db');
      form.submit();
    });
    $('#submit_restore_and_reboot').click(function (e) {
      form.attr('action', form.attr('id') == 'upload_full' ? '/backup/upload_full_and_reboot' : '/backup/upload_db_and_reboot');
      form.submit();
    });
    OSX.show();
  });
});
</script>
<% content_for :title, t('menu.backups') %>
<% heading t('menu.backups')  %>

<%= render :partial => "shared/empty_submenu" %>

<div class="main">
  <fieldset class="inputs">
    <legend><span><%=t 'backup.backup_full_legend' %></span></legend>
    <ol>
    <fieldset class="inputs">
     <legend><span><%=t 'backup.create_backup_legend' %></span></legend>
      <% semantic_form_for 'backup', :url => create_full_backup_path  do |f| %>
	<%= f.input :include_graph,
	            :as => :boolean,
	            :label => t('backup.include_graphs', :size => Contract.count/2.0),
	            :required => false %>

	<%= f.input :include_files,
               	    :as => :text,
                    :label =>t('backup.include_fies'),
                    :required => false %>

	<%= f.input :exclude_files,
	            :as => :text,
                    :label =>t('backup.exclude_fies'),
                    :required => false  %>
	<%= f.submit t('buttons.process') %>
      <% end %>
    </fieldset>
    <fieldset class="inputs">
      <% form_tag({:action => 'upload_full'}, :multipart => true, :id => 'upload_full') do %>
      <legend><span><%=t 'backup.restore_backup_legend' %></span></legend>
        <li>
          <label for="backup"><%=t 'backup.backup_file_label' %></label>
          <%= file_field 'backup_full', 'backup_file' %>
        </li>
        <li class="left">
          <br/>
          <%= submit_tag t('backup.restore_backup_full_button'), :class => "restore" %>
        </li>
    <% end %>
    </fieldset>
    </ol>
  </fieldset>
  <fieldset class="inputs">
    <legend><span><%=t 'backup.backup_db_legend' %></span></legend>
    <ol>
    <fieldset class="inputs">
    <% form_tag ({:action => 'create_db'}) do %>
      <legend><span><%=t 'backup.create_backup_legend' %></span></legend>
      <li class="left">
        <%= submit_tag t('backup.create_backup_button') %>
      </li>
    <% end %>
    </fieldset>
    <fieldset class="inputs">
    <% form_tag({:action => 'upload_db'}, :multipart => true, :id => 'upload_db') do %>
      <legend><span><%=t 'backup.restore_backup_legend' %></span></legend>
      <li>
        <label for="backup_db"><%=t 'backup.backup_file_label' %></label>
        <%= file_field 'backup_db', 'backup_file' %>
      </li>
      <li class="left">
        <br/>
        <%= submit_tag t('backup.restore_backup_db_button'), :class => "restore" %>
      </li>
    <% end %>
    </fieldset>
    </ol>
  </fieldset>
</div>
