<% if @contract.new_record? %>
  <% content_for :javascript do %>
    <%= stylesheet_link_tag "jquery-ui-1.8.14.custom" %>
    <%= javascript_include_tag('jquery.ui.datepicker') %>
    <script type="text/javascript">
      datepicker_options = {
            dateFormat: 'yy-mm-dd',
            showOn: "button",
            buttonImage: "/plugin_assets/sequreisp_invoicing/images/calendar.gif",
            buttonImageOnly: true
          }
      $(function(){
          $('.datepicker').datepicker(datepicker_options);
          $('.datepicker').datepicker("setDate", new Date);
      });
    </script>
  <% end %>
<% end %>
<style type="text/css">
  #advanced {
    width: 450px;
  }
  #contract_transparent_proxy_input li {
    width: 250px;
  }
  #prios {
    width: auto;
  }
  .arping_mac_address {
    padding-top: 26px;
  }
  #contract_proxy_arp_lan_gateway {
    width: 150px
  }
  #contract_proxy_arp_gateway {
    width: 150px
  }
  #contract_proxy_arp_provider {
    width: 150px
  }
</style>
<script type="text/javascript">
  $(function(){
    function checkbox_proxy_arp() {
      if ($('#contract_proxy_arp').attr('checked')) {
        $('#contract_proxy_arp_interface_input').removeAttr("disabled"); 
        $('#contract_proxy_arp_interface_input').fadeIn();
        $('#contract_proxy_arp_provider_input').fadeIn();
        $('#contract_proxy_arp_gateway_input').fadeIn();
        $('#contract_proxy_arp_use_lan_gateway_input').fadeIn();
        checkbox_proxy_arp_use_lan_gateway();
      } else {
        $('#contract_proxy_arp_interface_input').attr("disabled", true);
        $('#contract_proxy_arp_interface_input').hide();
        $('#contract_proxy_arp_provider_input').hide();
        $('#contract_proxy_arp_gateway_input').hide();
        $('#contract_proxy_arp_use_lan_gateway_input').hide();
        $('#contract_proxy_arp_lan_gateway_input').attr("disabled", true);
        $('#contract_proxy_arp_lan_gateway_input').hide();
      }
    }
    checkbox_proxy_arp();
    $('#contract_proxy_arp').change( function() {
      checkbox_proxy_arp();
    });
    function checkbox_proxy_arp_use_lan_gateway() {
      if ($('#contract_proxy_arp_use_lan_gateway').attr('checked')) {
        $('#contract_proxy_arp_lan_gateway_input').removeAttr("disabled");
        $('#contract_proxy_arp_lan_gateway_input').fadeIn();
      } else {
        $('#contract_proxy_arp_lan_gateway_input').attr("disabled", true);
        $('#contract_proxy_arp_lan_gateway_input').hide();
      }
    }
    $('#contract_proxy_arp_use_lan_gateway').change( function() {
      checkbox_proxy_arp_use_lan_gateway();
    });
    $('#contract_ip').autocomplete({
      delay: 150,
      source: '<%= free_ips_contracts_path %>',
      search: function(event, ui) {
        //trigger only if 3 octets and a dot are typed
        return (this.value.split(".").length == 4)
      }
    })
    $('#contract_client_id').chosen();
    $('#arping_mac_address').click(function(){
      $('.arping_loader').show();
      $.get('<%= arping_mac_address_contracts_path %>', {ip: $('#contract_ip').val()}, function(data){
        if (data.mac_address) {
          $('#contract_mac_address').val(data.mac_address);
          //$.scrollTo('#contract_mac_address_input', 600);
          $('#contract_mac_address').css('background-color', '#00FF00').effect('pulsate', {times: 3}, null, function(){
            $('#contract_mac_address').css('background-color', '#FFFFFF');
          })
        } else {
          $('#contract_mac_address').css('background-color', '#FF0000').effect('pulsate', {times: 3}, null, function(){
            $('#contract_mac_address').css('background-color', '#FFFFFF');
          })
          $('#contract_ip').focus();
        }
        $('.arping_loader').hide();
      },'json');
    });
    $('.arping_loader').hide();
  })
</script>
<% unless current_user.may_update_contract?(@contract) %>
<script type="text/javascript">
  $(function(){
    $('input,select,textarea').attr('disabled',true)
  })  
</script>
<% end %>
<div id="main">
<% semantic_form_for @contract do |form| %>
  <%= error_messages @contract%>
  <% form.inputs do %>
    <%= form.input :client, :wrapper_html => { :class => "left" } %>
    <div style="clear:both"></div>
    <%= form.input :plan, :wrapper_html => { :class => "left" }, :hint => false %> 
    <%= form.input :state, :collection => form.object.aasm_states_for_select, :include_blank => false ,:wrapper_html => { :class => "left" } %> 
    <div style="clear:both"></div>
    <%= form.input :ip, :wrapper_html => { :class => "left" } %>
    <%= form.input :ceil_dfl_percent, :as => :select, :collection => (30..100).step(10).to_a, :include_blank => false, :wrapper_html => { :class => "left" } %>
    <div style="clear: both"></div>
    <%= form.input :mac_address, :wrapper_html => {:class => "left" } %>
    <li class="arping_mac_address">
      <a id="arping_mac_address" href="javascript:void(null)"><%= I18n.t('buttons.get_arping_mac_address') %></a>
      <%= image_tag "loader_horizontal.gif", :class => 'arping_loader' %>
    </li>
    <div style="clear:both"></div>
      <%= form.input :start_date, :as => :string, :input_html => { :class => 'datepicker', :disabled => (params[:action] == 'edit')}  %>
    <div style="clear: both"></div>
    <% form.inputs :name => t('fieldsets.contract.details'),
                   :context_help => { :path => { :custom => 'contract.fieldsets.details' } } do %>
      <%= form.input :detail, :wrapper_html => { :class => "left" } %>
      <%= form.input :cpe, :wrapper_html => { :class => "left" } %>
      <%= form.input :node, :wrapper_html => { :class => "left" } %>
    <% end %>
    <%= form.input :transparent_proxy, :as => :radio, :collection => Contract.transparent_proxy_for_select %> 
    <% form.inputs :name => t('activerecord.attributes.contract.forwarded_ports') do %>
      <% form.semantic_fields_for :forwarded_ports do |fp| %>
        <%= render "forwarded_port_fields", :f => fp %>
      <% end %>
      <li><%= link_to_add_fields t('buttons.add_forward'), form, :forwarded_ports, "" %> </li>
    <% end %>
    <% form.inputs :name => t('fieldsets.contract.advanced'), :id => "advanced", :class => "left inputs",
                   :context_help => { :path => { :custom => 'contract.fieldsets.advanced' } } do %>
      <% form.inputs :name => t('fieldsets.contract.proxy_arp'), :id => "proxy_arp" do %>
        <%= form.input :proxy_arp, :wrapper_html => { :class => "left" } %>
        <%= form.input :proxy_arp_interface, :wrapper_html => { :class => "left" } %>
        <div style="clear: both"></div>
        <%= form.input :proxy_arp_provider, :wrapper_html => { :class => "left" } %>
        <%= form.input :proxy_arp_gateway, :wrapper_html => { :class => "left" } %>
        <div style="clear: both"></div>
        <%= form.input :proxy_arp_use_lan_gateway, :wrapper_html => { :class => "left" } %>
        <%= form.input :proxy_arp_lan_gateway, :wrapper_html => { :class => "left" } %>
      <% end %>
      <div style="clear: both"></div>
      <%= form.input :public_address %> 
      <%= form.input :unique_provider %>
    <% end %>
    <% form.inputs :name => t('fieldsets.contract.prio_customization'), :id => "prios", 
            :style => "width: 250px", :context_help => { :path => { :custom => 'contract.fieldsets.prios' } } do %>
      <%= form.input :tcp_prio_ports %> 
      <%= form.input :udp_prio_ports %> 
      <%= form.input :prio_protos %> 
      <%= form.input :prio_helpers %> 
    <% end %>
    <div style="clear: both"></div>
    <%= form_extensions form %>
  <% end %>
  <% if current_user.may_update_contract?(@contract) or current_user.may_create_contract? %>
    <% form.buttons do %>
      <%= if @commit_text.nil? then form.commit_button else form.commit_button @commit_text end %>
    <% end %>
  <% end %>
<% end %>
</div> 
