<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "sequreispcharts" %>
<% end %>

<script type="text/javascript">
//  function get_data(){
//    $.get('<%= instant_contract_path %>',null,function(data){
//      $.each(data.rates, function( index, rate ) {
//        chart_rate.series[index].addPoint(data.rates[index.toString()].value, true, true);
//      });
//      chart_latency.series[0].addPoint(data.latency.ping, true, true);
//      chart_latency.series[1].addPoint(data.latency.arping, true, true);
     /* foo_latency.series[0].addPoint(data.latency.ping, true, true);
	foo_latency.series[1].addPoint(data.latency.arping, true, true);
	},'json');
	}; */

  $(function() {
    $( "#tabs" ).tabs();
  });

  $(document).ready(function() {
    latency = new Highcharts.Chart(<%= @graph_latency.graph! %>);
    rate_up = new Highcharts.Chart(<%= @graph_rate_up.graph! %>);
    rate_down = new Highcharts.Chart(<%= @graph_rate_down.graph! %>);
    new Highcharts.Chart(<%= @graph_total_rate.graph! %>);
    new Highcharts.Chart(<%= @graph_data_count.graph! %>);

    new Highcharts.Chart(<%= @graph_rate_down_period_0.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_up_period_0.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_down_period_1.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_up_period_1.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_down_period_2.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_up_period_2.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_down_period_3.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_up_period_3.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_down_period_4.graph! %>);
    new Highcharts.Chart(<%= @graph_rate_up_period_4.graph! %>);

   /* get_data();
      setInterval(function() {
      get_data();
      }, 5000); */
  });
</script>

<% heading t('graph.statistics') %>

<div class="separador"></div>

<div id="main">
  <table style="width: 747px;" cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.contract.ip' %></th>
        <th><%=t 'activerecord.attributes.contract.plan' %></th>
        <th><%=t 'activerecord.attributes.plan.rate_down' %></th>
        <th><%=t 'activerecord.attributes.plan.ceil_down' %></th>
        <th><%=t 'activerecord.attributes.plan.rate_up' %></th>
        <th><%=t 'activerecord.attributes.plan.ceil_up' %></th>
      </tr>
      <tr class="even" >
        <td><%= @contract.ip %></td>
        <td><%= @contract.plan.name rescue 'Undefined' %></td>
        <td><%= @contract.plan.rate_down rescue 'Undefined' %></td>
        <td><%= @contract.plan.ceil_down rescue 'Undefined' %></td>
        <td><%= @contract.plan.rate_up rescue 'Undefined' %></td>
        <td><%= @contract.plan.ceil_up rescue 'Undefined' %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>

<div id=<%= @graph_latency.render %> style="height:247px; width:430px; float:left;"></div>
<div id=<%= @graph_total_rate.render %> style="height:247px; width:430px; float:left;"></div>
<div class="separador" style='margin-bottom: 5px;'></div>
<div id=<%= @graph_rate_up.render %> style="height:247px; width:430px; float:left;"></div>
<div id=<%= @graph_rate_down.render %> style="height:247px; width:430px; float:left;"></div>
<div class="separador" style='margin-bottom: 5px;'></div>
<div id=<%= @graph_data_count.render %> style="height:247px; width:860px; float:left;"></div>

<div class="separador" style='margin-bottom: 5px;'></div>

<% content_tag(:div, "", :id => "tabs") do %>
  <ul>
    <li><a href="#tabs-0">Period 0</a></li>
    <li><a href="#tabs-1">Period 1</a></li>
    <li><a href="#tabs-2">Period 2</a></li>
    <li><a href="#tabs-3">Period 3</a></li>
    <li><a href="#tabs-4">Period 4</a></li>
  </ul>
  <% content_tag(:div, "", :id => "tabs-0" ) do %>
    <div id=<%= @graph_rate_down_period_0.render %> style="height:247px; width:400px; float:left;"></div>
    <div id=<%= @graph_rate_up_period_0.render %> style="height:247px; width:400px; float:left;"></div>
    <div class="separador" style='margin-bottom: 5px;'></div>
  <% end %>
  <% content_tag(:div, "", :id => "tabs-1" ) do %>
    <div id=<%= @graph_rate_down_period_1.render %> style="height:247px; width:400px; float:left;"></div>
    <div id=<%= @graph_rate_up_period_1.render %> style="height:247px; width:400px; float:left;"></div>
    <div class="separador" style='margin-bottom: 5px;'></div>
  <% end %>

  <% content_tag(:div, "", :id => "tabs-2" ) do %>
    <div id=<%= @graph_rate_down_period_2.render %> style="height:247px; width:400px; float:left;"></div>
    <div id=<%= @graph_rate_up_period_2.render %> style="height:247px; width:400px; float:left;"></div>
    <div class="separador" style='margin-bottom: 5px;'></div>
  <% end %>

  <% content_tag(:div, "", :id => "tabs-3" ) do %>
    <div id=<%= @graph_rate_down_period_3.render %> style="height:247px; width:400px; float:left;"></div>
    <div id=<%= @graph_rate_up_period_3.render %> style="height:247px; width:400px; float:left;"></div>
    <div class="separador" style='margin-bottom: 5px;'></div>
  <% end %>

  <% content_tag(:div, "", :id => "tabs-4" ) do %>
    <div id=<%= @graph_rate_down_period_4.render %> style="height:247px; width:400px; float:left;"></div>
    <div id=<%= @graph_rate_up_period_4.render %> style="height:247px; width:400px; float:left;"></div>
    <div class="separador" style='margin-bottom: 5px;'></div>
  <% end %>
<% end %>
