<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "sequreispcharts" %>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    //chart_latency = new_chart_latency(<%= Time.zone.utc_offset %>);
    //chart_rate = new_chart_rate_prios(<%= Time.zone.utc_offset %>);
    chart_latency = createChart(<%= options_hash('instant_latency', '', 'latency(Ms)', 'datetime').to_json %>);
    chart_rate = createChart(<%= options_hash('instant', '', 'bps(bits/seconds)', 'datetime').to_json %>);
    <% series = Contract.find(@graph.element.id).serie_for_chart_rate_prio %>
    <% series.count.times do |index| %>
      chart_rate.addSeries({
        <%= series[index.to_s].map { |key, value| "#{key.to_json}: #{value.to_json},"} %>
        data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
      });
    <% end %>

    chart_rate.redraw();

    <% result = @graph.element.data_count_for_last_year %>
$('#contract_data_traffic').highcharts({
            chart: {
                type: 'column'
            },
            colors: ['#00aa00'],
            title: {
                text: ''
            },
            xAxis: {
                categories: <%=  result[0].to_json %>
            },
            yAxis: {
                min: 0,
                title: {
                    text: <%= t('graph.data').to_json %>
                }
            },
            tooltip: {
                headerFormat:
            '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat:
            '<tr><td style="color:{series.color};padding:0">{series.name}: </td>'
            + '<td style="padding:0"><b>{point.y} bytes</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: <%= t('graph.traffic').to_json %>,
                data: <%=  result[1].to_json %>
            }]
        });

  });
  function get_data(){
    $.get('<%= instant_contract_path %>',null,function(data){
      $.each(data.rates, function( index, rate ) {
        chart_rate.series[index].addPoint(data.rates[index.toString()].value, true, true);
      });
      chart_latency.series[0].addPoint(data.latency.ping, true, true);
      chart_latency.series[1].addPoint(data.latency.arping, true, true);
    },'json');
  };
  get_data();
  setInterval(function() {
    get_data();
  }, 5000);
</script>

<% heading t('graph.heading', :name => @graph.name) %>
<div class="separador"></div>
<div id="main">
  <table style="width: 747px;" cellspacing="0" cellpadding="0">
    <tbody>
    <% if @graph.element.class.to_s == "Contract" %>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.contract.ip' %></th>
        <th><%=t 'activerecord.attributes.contract.plan' %></th>
        <th><%=t 'activerecord.attributes.plan.rate_down' %></th>
        <th><%=t 'activerecord.attributes.plan.ceil_down' %></th>
        <th><%=t 'activerecord.attributes.plan.rate_up' %></th>
        <th><%=t 'activerecord.attributes.plan.ceil_up' %></th>
      </tr>
      <tr class="even" >
        <td><%= @graph.element.ip %></td>
        <td><%= @graph.element.plan.name rescue 'Undefined' %></td>
        <td><%= @graph.element.plan.rate_down rescue 'Undefined' %></td>
        <td><%= @graph.element.plan.ceil_down rescue 'Undefined' %></td>
        <td><%= @graph.element.plan.rate_up rescue 'Undefined' %></td>
        <td><%= @graph.element.plan.ceil_up rescue 'Undefined' %></td>
      </tr>
    <% elsif @graph.element.class.to_s == "Provider" %>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.provider.interface' %></th>
        <th><%=t 'activerecord.attributes.provider.rate_down' %></th>
        <th><%=t 'activerecord.attributes.provider.rate_up' %></th>
      </tr>
      <tr class="odd" >
        <td><%= @graph.element.interface.name rescue 'Undefined' %></td>
        <td><%= @graph.element.rate_down %></td>
        <td><%= @graph.element.rate_up %></td>
      </tr>
    <% elsif @graph.element.class.to_s == "ProviderGroup" %>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.provider_group.rate_down' %></th>
        <th><%=t 'activerecord.attributes.provider_group.rate_up' %></th>
      </tr>
      <tr class="odd" >
        <td><%= @graph.element.rate_down %></td>
        <td><%= @graph.element.rate_up %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h2><%=t 'graph.latency' %></h2>
  <div id="instant_latency" style="width: 747px; height: 247px"></div>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.instant' %></h2>
  <div id="instant" style="width: 747px; height: 247px"></div>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.data_traffic' %></h2>
  <div id="contract_data_traffic" style="width: 747px; height: 247px"></div>
  <br/>
  <br/>
  <br/>
  <%= render :partial => 'shared/graph_history' %>
</div>
