<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "sequreispcharts" %>
<% end %>

<script type="text/javascript">
 $(function() {
   $("#tabs").tabs();
 });

 function get_data(){
   $.get('<%= instant_contract_path %>', null, function(data) {
     $(rate_up.series).each( function(i, serie) {
       serie.addPoint(data.rates[serie.name], true, true);
     });

     $(rate_down.series).each( function(i, serie) {
       serie.addPoint(data.rates[serie.name], true, true);
     });

     total_rate.series[0].addPoint(data.rates.total_up, true, true);
     total_rate.series[1].addPoint(data.rates.total_down, true, true);

     latency.series[0].addPoint(data.latency.ping, true, true);
     latency.series[1].addPoint(data.latency.arping, true, true);
   },'json');
 };

$(document).ready(function() {
   latency = new Highcharts.Chart(<%= @graphs[:latency].graph! %>);
   rate_up = new Highcharts.Chart(<%= @graphs[:rate_up].graph! %>);
   rate_down = new Highcharts.Chart(<%= @graphs[:rate_down].graph! %>);
   total_rate = new Highcharts.Chart(<%= @graphs[:total_rate].graph! %>);

   new Highcharts.Chart(<%= @graphs[:data_count].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_down_period_0].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_down_period_1].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_down_period_2].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_down_period_3].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_down_period_4].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_up_period_0].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_up_period_1].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_up_period_2].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_up_period_3].graph! %>);
   new Highcharts.Chart(<%= @graphs[:rate_up_period_4].graph! %>);

   get_data();

   setInterval(function() {
     get_data();
   }, 5000);
 });
</script>

<% heading t('graphs.statistics') %>
<% content_for :title, t('graphs.statistics') %>

<div class="separador"></div>

<div id="main">
  <table style="width: 747px;" cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.contract.ip' %></th>
        <th><%=t 'activerecord.attributes.contract.plan' %></th>
        <th><%=t 'activerecord.attributes.plan.rate_down' %></th>
        <th><%=t 'activerecord.attributes.plan.ceil_down' %></th>
        <th><%=t 'activerecord.attributes.plan.rate_up' %></th>
        <th><%=t 'activerecord.attributes.plan.ceil_up' %></th>
      </tr>
      <tr class="even" >
        <td><%= @contract.ip %></td>
        <td><%= @contract.plan.name rescue 'Undefined' %></td>
        <td><%= @contract.plan.rate_down rescue 'Undefined' %></td>
        <td><%= @contract.plan.ceil_down rescue 'Undefined' %></td>
        <td><%= @contract.plan.rate_up rescue 'Undefined' %></td>
        <td><%= @contract.plan.ceil_up rescue 'Undefined' %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>
<div id=<%= @graphs[:latency].render %> style="height:247px; width:430px; float:left;"></div>
<div id=<%= @graphs[:total_rate].render %> style="height:247px; width:430px; float:left;"></div>
<div class="separador" style='margin-bottom: 5px;'></div>
<div id=<%= @graphs[:rate_up].render %> style="height:247px; width:430px; float:left;"></div>
<div id=<%= @graphs[:rate_down].render %> style="height:247px; width:430px; float:left;"></div>
<div class="separador" style='margin-bottom: 5px;'></div>
<div id=<%= @graphs[:data_count].render %> style="height:247px; width:860px; float:left;"></div>
<div class="separador" style='margin-bottom: 5px;'></div>

<% content_tag(:div, "", :id => "tabs") do %>
  <ul>
    <% @periods.times do |period| %>
      <li><a href=<%="#tabs-#{period}"%>><%= "Period #{period}" %></a></li>
    <% end %>
  </ul>

  <% @periods.times do |period| %>
    <% content_tag(:div, "", :id => "tabs-#{period}" ) do %>
      <div id=<%= @graphs["rate_down_period_#{period}".to_sym].render %> style="height:247px; width:400px; float:left;"></div>
      <div id=<%= @graphs["rate_up_period_#{period}".to_sym].render %> style="height:247px; width:400px; float:left;"></div>
      <div class="separador" style='margin-bottom: 5px;'></div>
    <% end %>
  <% end %>
<% end %>
