<% content_for :title, t('menu.devices') %>
<% heading t('menu.devices') %>

<% render_new_button_for :device %>
<div class="separador"></div>
<%= render :partial => "search" %>
<div class="main">
  <%= page_entries_info @devices %>
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <%= render :partial => "index_table_headers" %>
      </tr>
      <% @devices.each_with_index do |device,i| %>
        <% css_class = i%2 == 0 ? "even" : "odd" %>
        <tr class="<%= css_class %>" >
          <%= render :partial => "index_table_cells", :locals => {:device => device} %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @devices %>
</div>
