<ul class="nav" style="float:right">
  <li> <%= link_to t('buttons.system_disks'), system_disks_path %> </li>
  <li> <%= link_to t('buttons.cache_disks'), cache_disks_path %> </li>
  <li> <%= link_to t('buttons.free_disks'), free_disks_path %> </li>
  <li> <%= link_to t('buttons.scan_disks'), scan_disks_path %> </li>
  <%= render :partial => "shared/submenu_items" %>
</ul>

<div style="clear: both"></div>