<% content_for :javascript do %>
  <script type='text/javascript'>
    $(function() {
      $('input#select_liberate').change(function(){
        $('input[name="liberate_disks_ids[]"]').attr("checked",
        $(this).attr("checked"));
      });
      $('input#select_assign').change(function(){
        $('input[name="assign_disks_ids[]"]').attr("checked",
        $(this).attr("checked"));
      });
    });
  </script>
<% end %>

<% content_for :title, t('buttons.cache_disks')%>
<% heading t('buttons.cache_disks') %>

<ul class="nav" style="float:right">
  <li> <%= link_to t('buttons.scan_disks'), scan_disks_path %> </li>
</ul>

<div style="clear: both"></div>

  <div class="main_avisos">
    <div class="contact_info">
      <h2 class="error">Importante</h2>
      <%= t'messages.disk.when_apply_change' %>
    </div>
  </div>


<div style="clear: both"></div>

<% unless @free_disks.empty? %>
  <h1>Discos Libres</h1>
  <div class="main">
    <% form_tag(assign_for_disks_path, :method => :put) do |f| %>
      <%= submit_tag t('buttons.assign_disks_to_cache'), :name => :cache, :id => "foo" %>
      <%= form_extensions f %>
      <table>
        <thead>
          <tr>
            <th><%= check_box_tag :select_assign  %></th>
            <th><%= t('activerecord.attributes.disk.serial') %></th>
            <th><%= t('activerecord.attributes.disk.name') %></th>
            <th><%= t('activerecord.attributes.disk.capacity') %></th>
          </tr>
        </thead>
        <tbody>
          <% @free_disks.each_with_index do |disk, i| %>
            <tr>
              <td><%= check_box_tag("assign_disks_ids[]", disk.id) if Disk.cache_in_raid.count == 0 %></td>
              <td><%= disk.serial %></td>
              <td><b><%= disk.name %></b> <em><%= "(#{disk.raid})" if not disk.raid.nil? %></em></td>
              <td><%= disk.capacity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>

<h1>Discos Asignados</h1>
<div class="main">
  <% form_tag(liberate_disks_path, :method => :put) do |f| %>
    <%= submit_tag t('buttons.liberate_disks') %>
    <table>
      <thead>
        <tr>
          <th><%= check_box_tag :select_liberate  %></th>
          <th><%= t('activerecord.attributes.disk.serial') %></th>
          <th><%= t('activerecord.attributes.disk.name') %></th>
          <th><%= t('activerecord.attributes.disk.capacity') %></th>
          <th><b><%= t('activerecord.attributes.disk.type') %></b></th>
        </tr>
      </thead>
      <tbody>
        <% unless @system_disks.empty? %>
          <% @system_disks.each_with_index do |disk, i| %>
            <tr>
              <td></td>
              <td><%= disk.serial %></td>
              <td><b><%= disk.name %></b> <em><%= "(#{disk.raid})" if not
              disk.raid.nil? %></em></td>
              <td><%= disk.capacity %></td>
              <td><b><%= t('activerecord.attributes.disk.system') %></b></td>
            </tr>
          <% end %>
        <% end %>
        <% unless @cache_disks.empty? %>
          <% @cache_disks.each_with_index do |disk, i| %>
            <tr>
              <td><%= check_box_tag("liberate_disks_ids[]", disk.id) if disk.raid.nil? %></td>
              <td><%= disk.serial %></td>
              <td><b><%= disk.name %></b> <em><%= "(#{disk.raid})" if not disk.raid.nil? %></em></td>
              <td><%= disk.capacity %></td>
              <td><b><%= t('activerecord.attributes.disk.cache') %></b></td>
            </tr>
          <% end %>
        <% end %>
        <%= view_extensions %>
      </tbody>
    </table>
  <% end %>
</div>