<style type="text/css">
  #configuration_alerted_cuts_per_hour, #configuration_alerted_cut_duration {
    width: 20px;
  }
  #configuration_logged_in_timeout {
    width: 50px;
  }
  #configuration_notification_timeframe{
    width: 50px;
}
</style>
<script type="text/javascript">
  $(function(){
    function show_hide_mail_relay() {
      if ($('#configuration_mail_relay_used').attr('checked')) {
        $('#mail_relay').show();
      } else {
        $('#mail_relay').hide();
      }
   }

    show_hide_mail_relay();

    $('#configuration_mail_relay_used').change( function() {
      if ($('#configuration_mail_relay_used').attr('checked')) {
        $('#mail_relay').show();
      } else {
        $('#mail_relay').hide();
      }
    });

    function mail_relay_manipulated_for_sequreisp() {
      if ($('#configuration_mail_relay_manipulated_for_sequreisp').attr('checked')) {
        $('#manipulated_for_sequreisp').show();
      } else {
        $('#manipulated_for_sequreisp').hide();
      }
   }

    mail_relay_manipulated_for_sequreisp();

    $('#configuration_mail_relay_manipulated_for_sequreisp').change( function() {
      if ($('#configuration_mail_relay_manipulated_for_sequreisp').attr('checked')) {
        $('#manipulated_for_sequreisp').show();
      } else {
        $('#manipulated_for_sequreisp').hide();
      }
    });
    function checkbox_dns_use_forwarders() {
      if ($('#configuration_dns_use_forwarders').attr('checked')) {
        $('#bind_dns').show();
      } else {
        $('#bind_dns').hide();
      }
    }
    checkbox_dns_use_forwarders();
    $('#configuration_dns_use_forwarders').change( function() {
      checkbox_dns_use_forwarders();
    });
  })
</script>
<% unless current_user.may_update_configuration?(@configuration) %>
<script type="text/javascript">
  $(function(){
    $('input,select,textarea').attr('disabled',true)
  })
</script>
<% end %>
<div id="main">
  <% semantic_form_for @configuration, :html => { :multipart => true } do |form| %>
    <%= error_messages @configuration%>
    <% form.inputs :name => t('fieldsets.configuration.system') do %>
      <%= form.input :language, :as => :select, :collection => Language.languages_for_select, :include_blank => false %>
      <%= form.input :time_zone, :as => :time_zone, :priority_zones => /America/%>
      <%= form.input :web_interface_listen_on_80 %>
      <%= form.input :web_interface_listen_on_443 %>
      <%= form.input :web_interface_listen_on_8080 %>
      <%= form.input :use_external_number_client %>
    <% end %>
    <% form.inputs :name => t('fieldsets.configuration.notifications'),
                   :context_help => { :path => { :custom => 'configuration.fieldsets.notifications' } } do %>
      <%= form.input :deliver_notifications %>
      <%= form.input :notification_email %>
      <%= form.input :notification_timeframe  %>
    <% end %>
    <% form.inputs :name => t('fieldsets.configuration.users') do %>
      <%= form.input :logged_in_timeout %>
    <% end %>
    <% form.inputs :name => t('fieldsets.configuration.global_prios'),
                   :context_help => { :path => { :custom => 'configuration.fieldsets.global_prios' } } do %>
      <% form.inputs :name => t('fieldsets.traffic_prios') do %>
        <% Configuration::TRAFFIC_PRIO.keys.each do |tp| %>
          <%= check_box_tag "traffic_prio[#{tp.to_s}]", nil, @configuration.traffic_prio.include?(tp.to_s), :class => "left not_paged" %>
          <%= label_tag "<b>#{tp.to_s}</b>", nil, :class => "left not_paged" %>
          <div style="clear: both"></div>
        <% end %>
      <% end %>
      <%= form.input :default_tcp_prio_ports %>
      <%= form.input :default_udp_prio_ports %>
      <%= form.input :default_prio_protos %>
      <%= form.input :default_prio_helpers %>
    <% end %>
    <% form.inputs :name => t('fieldsets.configuration.mail_relay'), :context_help => { :path => { :custom => 'configuration.fieldsets.mail_relay' } } do %>
      <%= form.input :mail_relay_manipulated_for_sequreisp, :as => :boolean %>
      <div id="manipulated_for_sequreisp" >
        <%= form.input :mail_relay_used, :as => :boolean %>
        <div id="mail_relay" >
          <%= form.input :mail_relay_option_server, :as => :select, :collection => options_for_mail_relay %>
          <%= form.input :mail_relay_smtp_server %>
          <%= form.input :mail_relay_smtp_port %>
          <%= form.input :mail_relay_mail %>
          <%= form.input :mail_relay_password, :as => :string %>
        </div>
      </div>
    <% end %>
    <% form.inputs :name => t('fieldsets.configuration.bind_dns'), :context_help => { :path => { :custom => 'configuration.fieldsets.bind_dns' } } do %>
      <%= form.input :dns_use_forwarders, :as => :boolean %>
        <div id="bind_dns" >
          <%= form.input :dns_first_server %>
          <%= form.input :dns_second_server %>
          <%= form.input :dns_third_server %>
        </div>
    <% end %>
    <% form.inputs :name => t('fieldsets.configuration.advanced'),
                   :context_help => { :path => { :custom => 'configuration.fieldsets.advanced' } } do %>
      <%= form.input :apply_changes_automatically %>
      <%= form.input :apply_changes_automatically_hour, :as => :select, :collection => (0...24).map, :include_blank => false %>
      <%= form.input :filter_by_mac_address %>
      <%= form.input :iptables_tree_optimization_enabled %>
      <%= form.input :clamp_mss_to_pmtu %><br/>
      <%= form.input :nf_conntrack_max %>
      <%= form.input :gc_thresh1, :wrapper_html => { :class => "left" } %>
      <%= form.input :gc_thresh2, :wrapper_html => { :class => "left" } %>
      <%= form.input :gc_thresh3, :wrapper_html => { :class => "left" } %>
    <% end %>
    <%= form_extensions form%>
    <% if current_user.may_update_configuration?(@configuration) or current_user.may_create_configuration? %>
      <% form.buttons do %>
        <%= if @commit_text.nil? then form.commit_button else form.commit_button @commit_text end %>
      <% end %>
    <% end %>
  <% end %>
</div>
