<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
<% end %>
<script type="text/javascript">
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'instant',
        defaultSeriesType: 'area',
        marginRight: 0,
        events: {
          load: function() {
            // set up the updating of the chart each second
            var down = this.series[0];
            var up = this.series[1];
            $.get('<%= instant_rate_path %>',null,function(data){
              down.addPoint(data.down, true, true);
              up.addPoint(data.up, true, true);
            },'json');
            setInterval(function() {
              $.get('<%= instant_rate_path %>',null,function(data){
                down.addPoint(data.down, true, true);
                up.addPoint(data.up, true, true);
              },'json');
            }, 5000);
          }
        }
      },
      title: {
        text: ''
      },
      xAxis: {
        type: 'datetime',
        //tickPixelInterval: 150
      },
      yAxis: {
        title: {
          text: 'bps(bits/second)'
        },
      },
      tooltip: {
        formatter: function() {
            return '<b>'+ this.series.name +'</b><br/>'+
            Highcharts.numberFormat(this.y, 2);
        }
      },
      legend: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      plotOptions: {
        series: {
        pointStart: (new Date()).getTime() + <%= Time.zone.utc_offset %> * 1000 - 5*40000,
          pointInterval: 5000 // 5 seconds
        }
      },
      series: [{
        name: 'Down',
        type: "area",
        color: "#00aa00",
        data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
      },{
        name: 'Up',
        type: "line",
        color: "#ff0000",
        data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
      }
      ]
    });
  });
</script>

<% heading t('graph.heading', :name => @graph.name) %>
<div class="separador"></div>
<div id="main">
  <table style="width: 747px;" cellspacing="0" cellpadding="0">
    <tbody>
    <% if @graph.element.class.to_s == "Contract" %>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.contract.ip' %></th>
        <th><%=t 'activerecord.attributes.contract.plan' %></th>
        <th><%=t 'activerecord.attributes.plan.rate_down' %></th>
        <th><%=t 'activerecord.attributes.plan.ceil_down' %></th>
        <th><%=t 'activerecord.attributes.plan.rate_up' %></th>
        <th><%=t 'activerecord.attributes.plan.ceil_up' %></th>
      </tr>
      <tr class="even" >
        <td><%= @graph.element.ip %></td>
        <td><%= @graph.element.plan.name rescue 'Undefined' %></td>
        <td><%= @graph.element.plan.rate_down rescue 'Undefined' %></td>
        <td><%= @graph.element.plan.ceil_down rescue 'Undefined' %></td>
        <td><%= @graph.element.plan.rate_up rescue 'Undefined' %></td>
        <td><%= @graph.element.plan.ceil_up rescue 'Undefined' %></td>
      </tr>
    <% elsif @graph.element.class.to_s == "Provider" %>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.provider.interface' %></th>
        <th><%=t 'activerecord.attributes.provider.rate_down' %></th>
        <th><%=t 'activerecord.attributes.provider.rate_up' %></th>
      </tr>
      <tr class="odd" >
        <td><%= @graph.element.interface.name rescue 'Undefined' %></td>
        <td><%= @graph.element.rate_down %></td>
        <td><%= @graph.element.rate_up %></td>
      </tr>
    <% elsif @graph.element.class.to_s == "ProviderGroup" %>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.provider_group.rate_down' %></th>
        <th><%=t 'activerecord.attributes.provider_group.rate_up' %></th>
      </tr>
      <tr class="odd" >
        <td><%= @graph.element.rate_down %></td>
        <td><%= @graph.element.rate_up %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h2><%=t 'graph.instant' %></h2>
  <div id="instant" style="width: 747px; height: 247px"></div>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.last_24h' %></h2>
  <%= @graph.img("day", "large") %>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.last_week' %></h2>
  <%= @graph.img("week", "large") %>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.last_month' %></h2>
  <%= @graph.img("month", "large") %>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.last_year' %></h2>
  <%= @graph.img("year", "large") %>
  <br/>
  <br/>
  <br/>
</div>
