<% unless current_user.may_update_user?(@user) %>
<script type="text/javascript">
  $(function(){
    $('input,select,textarea').attr('disabled',true)
  })
</script>
<% end %>
<script type="text/javascript">
  $(function(){
    $('#regenerate_token').click(function(){
      $('.regenerate_token_loader').show();
      $.get('<%= generate_token_user_path %>', function(data){
        if (data.auth_token) {
          $('#user_auth_token').html(data.auth_token);
          $('#user_auth_token').css('background-color', '#00FF00').effect('pulsate', {times: 3}, null, function(){
            $('#user_auth_token').css('background-color', '#CCC');
          })
        } else {
          $('#user_auth_token').css('background-color', '#FF0000').effect('pulsate', {times: 3}, null, function(){
            $('#user_auth_token').css('background-color', '#CCC');
          })
        }
        $('.regenerate_token_loader').hide();
      },'json');
    });
    $('.regenerate_token_loader').hide();
  })
</script>
<div id="main">
<% semantic_form_for @user do |form| %>
  <%= error_messages @user %>
  <% form.inputs do %>
    <%= form.input :name %>
    <%= form.input :email %>
    <%= form.input :role_name, :as => :select, :collection => User.roles_for_select, :include_blank => false %> 
    <%= form.input :password %>
    <%= form.input :password_confirmation %>
    <% form.inputs :name => "API" do %>
      <%= form.input :api_enabled %>
      <li><b><%= User.human_attribute_name :auth_token %></b></li>
      <li id="user_auth_token"><%= @user.auth_token %> <%= image_tag "loader_horizontal.gif", :class => 'regenerate_token_loader' %></li>
      <li><%= link_to t('buttons.regenerate_token'), 'javascript:void(null)', :id => 'regenerate_token' %></li>
    <% end %>
    <%= form_extensions form%>
  <% end %>
  <% if current_user.may_update_user?(@user) or current_user.may_create_user? %>
    <% form.buttons do %>
      <%= if @commit_text.nil? then form.commit_button else form.commit_button @commit_text end %>
    <% end %>
  <% end %>
<% end %>
</div>
