
  <h2><%=t 'graph.last_24h' %></h2>
  <%= @graph.img("day", "large") %>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.last_week' %></h2>
  <%= @graph.img("week", "large") %>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.last_month' %></h2>
  <%= @graph.img("month", "large") %>
  <br/>
  <br/>
  <br/>
  <h2><%=t 'graph.last_year' %></h2>
  <%= @graph.img("year", "large") %>
  <br/>
  <br/>
  <br/>
