<script type="text/javascript">
  $(function(){
    initMoreToggle('#search_more', '#search_advanced', 'toggle_clients_search_advanced');
    $('#search_name_like').autocomplete({
      delay: 200,
      source: '<%= names_clients_path %>',
      //FIXME change callback is not working in 1.8.12 hakcing select instead
      select: function(event, ui) {
        $(this).val(ui.item.value);
        $(this).closest('form').submit();
      },
      minLength: 2
    })
  })
</script>
<% content_for :title, t('menu.clients') %>
<% heading t('menu.clients')  %>
<% render_new_button_for :client %>


<%= render :partial => "shared/empty_submenu" %>

<div id="busqueda">
<% form_for @search do |f| %>
  <ul>
    <li>
      <%= f.label :name_like, t('activerecord.attributes.client.name') %>
      <%= f.text_field :name_like %>
    </li>
    <li>
      <%= f.label :number_client_like, t('activerecord.attributes.client.external_client_number') %>
      <%= f.text_field :number_client_like %>
    </li>
    <li>
      <%= f.label :email_like, t('activerecord.attributes.client.email') %>
      <%= f.text_field :email_like %>
    </li>
    <li>
      <%= f.label :phone_like_or_phone_mobile_like, t('activerecord.attributes.client.phone') + '/' + t('activerecord.attributes.client.phone_mobile')%>
      <%= f.text_field :phone_like_or_phone_mobile_like %>
    </li>
    <div sytle="clear: both">
      <li><a id="search_more"><%= I18n.t('buttons.more') %></a><li>
    </div>

    <div id="search_advanced">
      <li>
        <%= f.label :address_like, t('activerecord.attributes.client.address') %>
        <%= f.text_field :address_like %>
      </li>
      <li>
        <%= f.label :detail_like, t('activerecord.attributes.client.details') %>
        <%= f.text_field :details_like %>
      </li>
      <div style="clear: both"></div>
    </div>
    <li>
      <br/>
      <%= f.submit t('buttons.search') %>
      <%= f.submit t('buttons.reset'),{ :type => "button", :class => "reset"}%>
    </li>
  </ul>
<% end %>
</div>
<div class="separador"></div>

<div class="main">
  <%= page_entries_info @clients %>
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%= order @search, :by => :name , :as => t('activerecord.attributes.client.name') %></th>
        <th><%= order @search, :by => :external_client_number , :as => t('activerecord.attributes.client.external_client_number') %></th>
        <th><%= order @search, :by => :email , :as => t('activerecord.attributes.client.email') %></th>
        <th><%= t('activerecord.attributes.client.phone') + '/' + t('activerecord.attributes.client.phone_mobile') %></th>
        <%= render :partial => "shared/plugins_table_headers" %>
        <% if current_user.may_update_clients? or current_user.may_index_clients? %>
        <th></th>
        <% end %>
        <% if current_user.may_destroy_client?(Client.new) %>
        <th></th>
        <% end %>
      </tr>

      <% @clients.each_with_index do |client,i| %>
        <% css_class = i%2 == 0 ? "even" : "odd" %>
        <tr class="<%= css_class %>" >
          <td><%= client.name %></td>
          <td><%=h client.client_number %></td>
          <td><%=h client.email %></td>
          <td><%=h "#{client.phone} #{client.phone_mobile}" %></td>
          <%= render :partial => "shared/plugins_table_cells", :locals => {:object => client} %>
          <% if current_user.may_update_client?(client) %>
            <td><%= link_to t('buttons.edit'), edit_client_path(client) %></td>
          <% elsif current_user.may_show_client?(client) %>
            <td><%= link_to t('buttons.show'), client_path(client) %></td>
          <% end %>
          <% if current_user.may_destroy_client?(client) %>
          <td><%= link_to t('buttons.delete'), client, :confirm => t('messages.confirm'), :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @clients %>
</div>
