<% content_for :title, t('menu.audits') %>
<% heading t('menu.audits')  %>
<% content_for :page_header do %>
  <%= javascript_include_tag 'jquery' %>
  <script type="text/javascript">
    $(function(){
        $('#search_auditable_type_is').change(function(){
          val = $(this).val();
          if(val == ""){
            $('li#search_id input').val('');
            $('li#search_id input').attr('disabled', 'disable');
          }
          else{
            $('li#search_id input').attr('disabled', '');
          }
        });
    });
  </script>
<% end %>
<%= render :partial => "shared/empty_submenu" %>

<div id="busqueda">
<% form_for @search do |f| %>
  <ul>
    <li>
      <%= f.label :user_id_equals, t('activerecord.attributes.audit.user') %>
      <%= f.collection_select :user_id_equals, User.all, :id, :name, :include_blank => true %>
    </li>
    <li>
      <%= f.label :action_is, t('activerecord.attributes.audit.action') %>
      <%= f.select :action_is, AuditsController.action_select_options, :include_blank => true %>
    </li>
    <li>
      <%= f.label :auditable_type_is, t('activerecord.attributes.audit.auditable_type') %>
      <%= f.select :auditable_type_is, @models, :include_blank => true %>
    </li>
    <li id='search_id'>
      <%= f.label :auditable_id_equals, t('activerecord.attributes.audit.auditable_id') %>
      <%= text_field_tag "[search][auditable_id_equals]", params[:auditable_id_equals],
           :value => params[:search][:auditable_id_equals],
           :disabled => (params[:search][:auditable_type_is].blank? ? true : false) %>
    </li>
    <li>
      <%= f.label :changes_like, t('activerecord.attributes.audit.changes') %>
      <%= f.text_field :changes_like %>
    </li>
    <li>
      <br/>
      <%= f.submit t('buttons.search') %>
      <%= f.submit t('buttons.reset'),{ :type => "button", :class => "reset"}%>
    </li>
  </ul>
<% end %>
</div>
<div class="separador"></div>
	
<div class="main">
  <%= page_entries_info @audits %>
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.audit.created_at' %></th>
        <th><%=t 'activerecord.attributes.audit.auditable_type' %></th>
        <th><%=t 'activerecord.attributes.audit.user' %></th>
        <th><%=t 'activerecord.attributes.audit.action' %></th>
        <th><%=t 'activerecord.attributes.audit.changes' %></th>
        <th><%=t 'activerecord.attributes.audit.version' %></th>
      </tr>

      <% @audits.each_with_index do |audit,i| %>
        <% css_class = i%2 == 0 ? "even" : "odd" %>
        <tr class="<%= css_class %>" >
          <td><%=l audit.created_at, :format => :short %></td>
          <td><%= link_to_auditable(audit) %></td>
          <td><%=h audit.user.name rescue t 'audits.undefined' %></td>
          <td><%=h t('audits.'+audit.action) %></td>
          <td><%= expand_changes(audit.changes, audit.auditable_type) %></td>
          <td><%= link_to h(t 'audits.go_back', :version => audit.version), go_back_audit_path(audit) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @audits %>
</div>


