<% content_for :title, t('menu.audits') %>
<% heading t('menu.audits')  %>
<% content_for :javascript do %>
  <%= stylesheet_link_tag('jquery-ui-1.8.14.custom.css') %>
  <%= stylesheet_link_tag('selectize.css') %>
  <%= stylesheet_link_tag('selectize.legacy.css') %>
  <%= javascript_include_tag('jquery.ui.datepicker.js') %>
  <%= javascript_include_tag('selectize.js') %>
  <style>
    #example_attribute_audit_item{ display:none; }
    .attribute_audit>label{
      display:inline;
      font-weight: normal !important;
    }
    .selectize-control{
      overflow: initial;
    }
    .selectize-dropdown{
      margin-top: -7px;
    }
    .selectize-input{
      border: 1px solid #6F6F61;
      border-radius: 0px;
      min-height: 28px;
      padding: 0px;
      padding-top: 3px;
      padding-left: 5px;
    }
    .selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header{
      padding: 0px 10px;
      margin: 0px;
      margin-top: 5px;
    }
    .selectize-control.multi .selectize-input.has-items{
      padding: 0px;
      padding-top: 1px;
      padding-left: 2px;
    }
    .selectize-control.multi .selectize-input.has-items input{
      top: -12px;
    }
    .selectize-dropdown [data-selectable].active{
      background: rgba(0,0,0,0.25);
    }
    .selectize-control.multi .selectize-input [data-value]{
      background-color: #A70000;
      background-image: linear-gradient(to bottom, #A80000, #550000);
      color: #EEEDE8;
      border: 1px solid #740000;
    }
  </style>
  <script type="text/javascript">
    var search_conditions = <%= @search.conditions.to_json %>;
    var attributes_audits = <%= attributes_audits_to_json %>;
    var select;

    datepicker_options = {
      dateFormat: 'yy-mm-dd',
      showOn: "button",
      buttonImage: "/images/calendar.gif",
      buttonImageOnly: true
    }
    $(function(){
      $('.datepicker').datepicker(datepicker_options);

      select = $('#search_changes_like_all').selectize({
        maxItems: null,
        valueField: 'id',
        labelField: 'title',
        searchField: 'title',
        options: [],
        onChange : function(e){
          $('.check_end').remove();

          for(var i in e){
            var tmp = '<input type="checkbox" value="' + e[i] + '" style="display:none;" class="check_end" checked>';
            $('form').append(tmp);
          }

          $('#search_type').change();
        },
        create: false
      });

      $('#search_auditable_type_is').change(function(){
        if($(this).val() != ""){
          var model = $(this).val();

          $('.check_end').remove();

          select[0].selectize.clearOptions();

          $.map(attributes_audits[model],function(a){
            select[0].selectize.addOption({
              id : a.id,
              title : a.name
            });
          })

          $('#search_type').change();
          $('#changes_select').show();
        }else{

          $('.check_end').remove();
          select[0].selectize.clearOptions();

          $('.attribute_audit').remove();
          $('#changes_select').hide();
        }
      });

      $('#search_type').change(function(){
        var type = $(this).val();

        $('.check_end').attr('name','search[changes_like_' + type + '][]');
      });

      $('#search_auditable_type_is').change();
      $('#search_type').change();

      if((search_conditions.changes_like_all != undefined) || (search_conditions.changes_like_any != undefined)){

        var data = search_conditions.changes_like_any;

        $('#search_type').children('[value="any"]').attr('selected','selected');
        if(search_conditions.changes_like_all != undefined){
          data = search_conditions.changes_like_all;
          $('#search_type').children('[value="all"]').attr('selected','selected');
        }

        select[0].selectize.setValue(data);
      }
      $(".reset").click(function() {
        $('#search_auditable_type_is').change();
      });
    });
  </script>
<% end %>
<%= render :partial => "shared/empty_submenu" %>
<div id="busqueda">
<% form_for @search do |f| %>
  <ul>
    <li>
      <%= f.label :user_id_equals, t('activerecord.attributes.audit.user') %>
      <%= f.collection_select :user_id_equals, User.all, :id, :name, :include_blank => t('audits.any_user') %>
    </li>
    <li>
      <%= f.label :action_is, t('activerecord.attributes.audit.action') %>
      <%= f.select :action_is, collect_actions, :include_blank => t('audits.any_action') %>
    </li>
    <li>
      <%= f.label :auditable_type_is, t('activerecord.attributes.audit.auditable_type') %>
      <%= f.select :auditable_type_is, collect_of_auditable_models, :include_blank => t('audits.any_model') %>
    </li>
    <li id="changes_select" style="display:none;">
      <div class="separador"></div>
      <label><%= t('messages.audits.changes_in') %>
        <select id="search_type">
          <option value ="all"><%= t('audits.all') %></option>
          <option value ="any"><%= t('audits.any') %></option>
        </select>
         <%= t('messages.audits.selected_attributes') %>
      </label>
      <div class="separador"></div>
      <%= f.label :changes_like_all, t('activerecord.attributes.audit.changes') %>
      <select multiple id="search_changes_like_all" placeholder="<%= t("audits.select_changes") %>"></select>
    </li>
    <div sytle="clear: both"></div>
    <li>
      <%= f.label :created_at_greater_than_or_equal_to, t('audits.audit_init_date') %>
      <%= f.text_field :created_at_greater_than_or_equal_to , { :class => 'datepicker fix_datetime'} %>
    </li>
    <li>
      <%= f.label :created_at_less_than_or_equal_to, t('audits.audit_end_date') %>
      <%= f.text_field :created_at_less_than_or_equal_to , {:class => 'datepicker fix_datetime add_end_of_day_before_submit'} %>
    </li>
    <div sytle="clear: both"></div>
    <li>
      <%= f.submit t('buttons.search') %>
      <%= f.submit t('buttons.reset'),{ :type => "button", :class => "reset"}%>
      <%= f.submit t('buttons.export_to_csv'),{ :name => "to_csv"} %>
      <br><br>
    </li>
  </ul>
<% end %>
</div>
<div class="separador"></div>
	
<div class="main">
  <%= page_entries_info @audits %>
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%=t 'activerecord.attributes.audit.id' %></th>
        <th><%=t 'activerecord.attributes.audit.created_at' %></th>
        <th><%=t 'activerecord.attributes.audit.auditable_type' %></th>
        <th><%=t 'activerecord.attributes.audit.user' %></th>
        <th><%=t 'activerecord.attributes.audit.action' %></th>
        <th><%=t 'activerecord.attributes.audit.changes' %></th>
        <th><%=t 'activerecord.attributes.audit.version' %></th>
      </tr>

      <% @audits.each_with_index do |audit,i| %>
        <% css_class = i%2 == 0 ? "even" : "odd" %>
        <tr class="<%= css_class %>" >
          <td><%= audit.id %></td>
          <td><%=l audit.created_at, :format => :short %></td>
          <td><%= link_to_auditable(audit) %></td>
          <td><%=h audit.user.name rescue t 'audits.undefined' %></td>
          <td><%=h t('audits.'+audit.action) %></td>
          <td><%= expand_changes(audit.changes, audit.auditable_type) %></td>
          <td>
            <%= audit.version %><br/>
            <%= link_to (h(t 'audits.go_back'), go_back_audit_path(audit)) if audit.action=='update' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @audits %>
</div>


