<% content_for :javascript do %>
  <%= javascript_include_tag "highstock" %>
  <%= javascript_include_tag "exporting" %>
<% end %>
<style>
.services_loader {
  display: none;
}
.daemons_loader {
  display: none;
}

</style>
<script type="text/javascript">
  function get_data(){
    $.get('<%= instant_dashboard_path %>', null, function(data) {
     cpu_instant.series[0].addPoint(data.cpu.total, true, true);
     cpu_instant.series[1].addPoint(data.cpu.kernel, true, true);
     cpu_instant.series[2].addPoint(data.cpu.iowait, true, true);

     load_average_instant.series[0].addPoint(data.load_average.now  , true, true);
     load_average_instant.series[1].addPoint(data.load_average.min5 , true, true);
     load_average_instant.series[2].addPoint(data.load_average.min15, true, true);
    },'json');
  };
  $(document).ready(function() {
    <% @graphs_instant.each do |key, graph| %>
      <%= key %> = new Highcharts.Chart(<%= graph.graph! %>);
    <% end %>

    <% @graphs.each_value do |graph| %>
      new Highcharts.Chart(<%= graph.graph! %>);
    <% end %>

    get_data();

    setInterval(function() {
      get_data();
    }, 5000);

    setInterval(function() {
      $('.services_loader').show();
      $.get('<%= services_dashboard_path %>', function(services){
       $.each(services, function (index, s) {
	   $('#up_'+ s.id).html(s.up_html);
          $('#cpu_p_'+ s.id).html(s.cpu_p_html);
          $('#mem_p_'+ s.id).html(s.mem_p_html);
	 });
       $('.services_loader').hide();
      },'json');
    }, 15000);

    setInterval(function() {
      $('.daemons_loader').show();
     $.get('<%= daemons_dashboard_path%>', function(daemons){
       $.each(daemons, function (index, daemon) {
          $('#daemon_'+ daemon.id).html(daemon.status_html);
        });
        $('.daemons_loader').hide();
      },'json');
    }, 15000);

  });
</script>
  <% content_for :title, t('menu.dashboard') %>
<% heading t('menu.dashboard') %>

<ul class="nav" style="float:right">
  <% if current_user.may_reboot_dashboard? %>
  <li>
    <% link_to reboot_dashboard_path, :confirm => t('messages.confirm'), :class => "button" do %>
      <span style="color:white"><span>
        <%= t('buttons.reboot') %>
      </span></span>
    <% end %>
  </li>
  <% end %>
  <% if current_user.may_halt_dashboard? %>
  <li>
    <% link_to halt_dashboard_path, :confirm => t('messages.confirm'), :class => "button" do %>
      <span style="color:white"><span>
        <%= t('buttons.halt') %>
      </span></span>
    <% end %>
  </li>
  <% end %>
  <%= render :partial => "shared/submenu_items"%>
</ul>

<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>

<% @graphs_instant.each_value do |graph| %>
  <div id=<%= graph.render %> style="height:247px; width: 860px"></div>
<% end %>

<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>

<table>
  <tr>
    <td>
      <h2><%=t 'dashboard.services' %></h2>
      <div id="services">
	<table cellspacing="0" cellpadding="0">
	  <tbody>
	    <tr class="odd">
              <th><%=t 'dashboard.services_table.service' %></th>
              <th><%=t 'dashboard.services_table.status' %></th>
              <th>CPU %</th>
              <th>MEM % (MB)</th>
	    </tr>
	    <% @services.each do |s| %>
	      <tr class="even" >
		<td> <%= s.name %> <%= image_tag "loader_horizontal.gif", :class => 'services_loader' %></td>
		<td id="up_<%= s.id %>"> <%= s.up_html %> </td>
		<td id="cpu_p_<%= s.id %>"> <%= s.cpu_p_html %> </td>
		<td id="mem_p_<%= s.id %>"> <%= s.mem_p_html %> </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>
    </td>
    <td>
      <h2><%=t 'dashboard.daemons' %></h2>
      <div id="services">
	<table cellspacing="0" cellpadding="0">
	  <tbody>
	    <tr class="odd">
              <th><%=t 'dashboard.daemons_table.daemon' %></th>
              <th><%=t 'dashboard.daemons_table.status' %></th>
	    </tr>
	    <% @daemons.each do |daemon| %>
	      <tr class="even" >
		<td> <%= daemon.name %> <%= image_tag "loader_horizontal.gif", :class => 'daemons_loader' %></td>
		<td id="daemon_<%= daemon.id %>"> <%= daemon.status_html %> </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>
    </td>
  </tr>
</table>

<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>

<% @graphs.each_value do |graph| %>
   <div id=<%= graph.render %> style="height:247px; width: 430px; float:left;"></div>
<% end %>
