<% content_for :javascript do %>
  <%= javascript_include_tag "highstock" %>
  <%= javascript_include_tag "exporting" %>
<% end %>
<style>
.services_loader {
  display: none;
  overflow:hidden;
}
.daemons_loader {
  display: none;
  overflow:hidden;
}

</style>
<script type="text/javascript">
  $(document).ready(function() {
   <% keys = [] %>
    <% @graphs_instant.each do |key, graph| %>
      <% keys << key %>
      <%= key %> = new Highcharts.Chart(<%= graph.graph! %>);
    <% end %>

    <% @graphs.each do |key, graph| %>
      <%= key %> = new Highcharts.Chart(<%= graph.graph! %>);
    <% end %>

    get_data();

    setInterval(function() {
      get_data();
    }, 5000);

  });
  function get_data(){
    $.get('<%= instant_dashboard_path %>', null, function(data) {
      $('.daemons_loader').show().delay(2000).fadeOut();
      $.each(data.daemons, function (index, daemon) {
        $('#daemon_'+ daemon.id).html(daemon.status_html);
      });

      $('.services_loader').show().delay(2000).fadeOut();
      $.each(data.services, function (index, s) {
        $('#up_'+ s.id).html(s.up_html);
        $('#cpu_p_'+ s.id).html(s.cpu_p_html);
        $('#mem_p_'+ s.id).html(s.mem_p_html);
      });

      <% keys.each do |key| %>
        <%= key %>.series[0].addPoint(data.<%= key %>.arg1, true, true);
        <%= key %>.series[1].addPoint(data.<%= key %>.arg2, true, true);
        <%= key %>.series[2].addPoint(data.<%= key %>.arg3, true, true);
      <% end %>
    },'json');
  };
</script>
<td>

<% content_for :title, t('menu.dashboard') %>
<% heading "#{t('menu.uptime')}: #{Configuration.uptime} Kernel: #{Configuration.kernel_version}"  %>

<ul class="nav" style="float:right">
  <% if current_user.may_reboot_dashboard? %>
  <li>
    <% link_to reboot_dashboard_path, :confirm => t('messages.confirm'), :class => "button" do %>
      <span style="color:white"><span>
        <%= t('buttons.reboot') %>
      </span></span>
    <% end %>
  </li>
  <% end %>
  <% if current_user.may_halt_dashboard? %>
  <li>
    <% link_to halt_dashboard_path, :confirm => t('messages.confirm'), :class => "button" do %>
      <span style="color:white"><span>
        <%= t('buttons.halt') %>
      </span></span>
    <% end %>
  </li>
  <% end %>
  <%= render :partial => "shared/submenu_items"%>
</ul>

<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>

<table>
  <tr>
    <td valign="top">
      <h2><%=t 'dashboard.daemons' %></h2>
      <div id="daemons">
        <table>
	  <tbody>
	    <tr class="odd">
	       <th  style="width: 14px"></th>
              <th><%=t 'dashboard.daemons_table.daemon' %></th>
              <th><%=t 'dashboard.daemons_table.status' %></th>
	    </tr>
	    <% @daemons.each do |daemon| %>
	      <tr class="even" >
		<td  style="width: 14px"><%= image_tag "loader_horizontal.gif", :class => 'daemons_loader' %></td>
		<td> <%= daemon.name %></td>
		<td id="daemon_<%= daemon.id %>"> <%= daemon.status_html %> </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>
    </td>
    <td valign="top">
      <h2><%=t 'dashboard.services' %></h2>
      <div id="services">
	<table>
	  <tbody>
	    <tr class="odd">
	       <th style="width: 14px"></th>
              <th><%=t 'dashboard.services_table.service' %></th>
              <th><%=t 'dashboard.services_table.status' %></th>
              <th>CPU %</th>
              <th>MEM % (MB)</th>
	    </tr>
	    <% @services.each do |s| %>
	      <tr class="even" >
		<td style="width: 14px"><%= image_tag "loader_horizontal.gif", :class => 'services_loader' %></td>
		<td> <%= s.name %></td>
		<td id="up_<%= s.id %>"> <%= s.up_html %> </td>
		<td id="cpu_p_<%= s.id %>"> <%= s.cpu_p_html %> </td>
		<td id="mem_p_<%= s.id %>"> <%= s.mem_p_html %> </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>
    </td>
  </tr>
</table>

<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>

<div id=<%= @graphs_instant["load_average_instant"].render %> style="height:247px; width: 860px"></div>
<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>
<div id=<%= @graphs_instant["cpu_all_instant"].render %> style="height:247px; width: 860px"></div>
<% @graphs_instant.delete("load_average_instant") %>
<% @graphs_instant.delete("cpu_all_instant") %>

<% @graphs_instant.sort_by_key.each_value do |graph| %>
  <div id=<%= graph.render %> style="height:247px; width: 430px; float:left;"></div>
<% end %>

<div class="separador" style='margin-bottom: 5px;'></div>
<div style="clear: both"></div>

<% @graphs.sort_by_key.each_value do |graph| %>
  <div id=<%= graph.render %> style="height:247px; width: 430px; float:left;"></div>
<% end %>
