<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "sequreispcharts" %>
<% end %>

<% instant_rate_graph = interface_rate_graph(@interface) %>

<script type="text/javascript">
  $(document).ready(function() {
    chart_rate = new_chart_rate(<%= Time.zone.utc_offset %>);
  });
  function get_data(){
    $.get('<%= instant_interface_path %>',null,function(data){
      instant_rate_graph.series[0].addPoint(data.rate_down, true, true);
      instant_rate_graph.series[1].addPoint(data.rate_up, true, true);
    },'json');
  };
  //get_data();
  //setInterval(function() {
  //  get_data();
  //}, 5000);
</script>

<% heading t('graph.heading', :name => @graph.name) %>
<div class="separador"></div>
<div id="main">
  <h2><%=t 'graph.instant' %></h2>
  <div id="instant" style="width: 747px; height: 247px"></div>
  <br/>
  <br/>
  <br/>
  <%= render :partial => 'shared/graph_history' %>
</div>
