<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "exporting" %>
<% end %>

<style type="text/css">
  .mac_address {
    font-size: 85%;
    color: gray;
  }
</style>

<script type="text/javascript">
  function get_data(){
    $.get('<%= instant_group_interfaces_path(@interfaces.collect(&:id).join(",")) %>', null, function(data) {
     <% @interfaces.each do |interface| %>
       <%= "interface_#{interface.id}_instant" %>.series[0].addPoint(data[<%= interface.id %>].rx, true, true);
       <%= "interface_#{interface.id}_instant" %>.series[1].addPoint(data[<%= interface.id %>].tx,true, true);
     <% end %>
    },'json');
  };

  $(document).ready(function() {
    <% @graphs.each do |g| %>
      <%= "interface_#{g.model.id}_instant" %> = new Highcharts.Chart(<%= g.minimal_graph %>);
    <% end %>

    get_data();

    setInterval(function() {
      get_data();
    }, 5000);
  });
</script>

<% content_for :title, t('menu.interfaces') %>
<% heading t('menu.interfaces') %>
<% render_new_button_for :interface %>

<ul id="nav" style="float:right">
  <li><%= link_to t('buttons.scan_interfaces'), scan_interfaces_path %> </li>
  <%= render :partial => "shared/submenu_items"%>
</ul>
<div style="clear: both"></div>

<div id="busqueda">
<% form_for @search do |f| %>
  <ul>
    <li>
      <%= f.label :name_or_description_like, t('activerecord.attributes.interface.name') %>
      <%= f.text_field :name_or_description_like %>
    </li>
    <li>
    <%= f.label :kind_equals, t('activerecord.attributes.interface.kind') %>
    <%= f.select :kind_equals, Interface.kinds_for_select, :include_blank => true %>
    </li>
    <li>
    <%= f.label :vlan_is, t('activerecord.attributes.interface.vlan') %>
    <%= f.select :vlan_is, [[t('formtastic.yes'),true],[t('formtastic.no'),false]], :include_blank => true %>
    </li>
    <li>
      <br/>
      <%= f.submit t('buttons.search') %>
      <%= f.submit t('buttons.reset'),{ :type => "button", :class => "reset"}%>
    </li>
  </ul>
<% end %>
</div>
<div class="separador"></div>

<div class="main">
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%= order @search, :by => :name , :as => t('activerecord.attributes.interface.name') + " (#{t('activerecord.attributes.interface.description')})" %></th>
        <th><%= order @search, :by => :kind , :as => t('activerecord.attributes.interface.kind') %></th>
        <th><%=t 'activerecord.attributes.interface.vlan_id' %></th>
        <th><%=t 'activerecord.attributes.ip' %></th>
        <th><%=t 'activerecord.attributes.interface.physical_link' %></th>
        <%= render :partial => "shared/plugins_table_headers" %>
        <th></th>
      </tr>

      <% @interfaces.each_with_index do |interface,i| %>
       <% css_class = i%2 == 0 ? "even" : "odd" %>
        <tr class="<%= css_class %>" >
          <td>
            <%=h interface.name + (interface.description.blank? ? "" : " (#{interface.description})") %><br/>
	    <div id=<%= @graphs.find{ |g| g.model.id == interface.id }.render %> style="width: 231px; height: 126px"></div>
          </td>
          <td><%= interface.kind %></td>
          <td><%=h interface.vlan_id %></td>
          <td>
	    <%= interface.addresses.collect{ |a| a.ip}.join("<br/>") %>
            <% unless interface.mac_address.blank? %>
              <br/><span class="mac_address">(<%= interface.mac_address %>)</span>
            <% end %>
          </td>
          <td <%= interface.current_physical_link ? 'class="enable_color"' : 'class="disable_color"' %>>
            <%=h interface.status %><br/>
            <%=h interface.speed %>
          </td>
          <%= render :partial => "shared/plugins_table_cells", :locals => {:object => interface} %>
          <td>
	    <% if current_user.may_show_interface?(interface) %>
	      <br />
	      <br />
              <%= link_to t('buttons.show'), interface_path(interface) %>
	    <% end %>
            <% if current_user.may_update_interface?(interface) %>
	      <br />
	      <br />
              <%= link_to t('buttons.edit'), edit_interface_path(interface) %>
	    <% end %>
	    <% if current_user.may_destroy_interface?(interface) %>
	      <br />
	      <br />
              <%= link_to t('buttons.delete'), interface, :confirm => t('messages.confirm'), :method => :delete %>
            <% end %>
	  </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @interfaces %>
</div>
