<% content_for :title, t('menu.interfaces') %>
<% heading t('menu.interfaces') %>
<% render_new_button_for :interface %>

<ul id="nav" style="float:right">
  <li><%= link_to t('buttons.scan_interfaces'), scan_interfaces_path %> </li>
  <%= render :partial => "shared/submenu_items"%>  
</ul>
<div style="clear: both"></div>

<div id="busqueda">
<% form_for @search do |f| %>
  <ul>
    <li>
      <%= f.label :name_or_description_like, t('activerecord.attributes.interface.name') %>
      <%= f.text_field :name_or_description_like %>
    </li>
    <li>
    <%= f.label :kind_equals, t('activerecord.attributes.interface.kind') %>
    <%= f.select :kind_equals, Interface.kinds_for_select, :include_blank => true %>
    </li>
    <li>
    <%= f.label :vlan_is, t('activerecord.attributes.interface.vlan') %>
    <%= f.select :vlan_is, [[t('formtastic.yes'),true],[t('formtastic.no'),false]], :include_blank => true %>
    </li>
    <li>
      <br/>
      <%= f.submit t('buttons.search') %>
      <%= f.submit t('buttons.reset'),{ :type => "button", :class => "reset"}%>
    </li>
  </ul>
<% end %>
</div>
<div class="separador"></div>

<div class="main">
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="odd">
        <th><%= order @search, :by => :name , :as => t('activerecord.attributes.interface.name') + " (#{t('activerecord.attributes.interface.description')})" %></th>
        <th><%= order @search, :by => :kind , :as => t('activerecord.attributes.interface.kind') %></th>
        <th><%=t 'activerecord.attributes.interface.vlan_id' %></th>
        <th><%=t 'activerecord.attributes.ip' %></th>
        <th><%=t 'activerecord.attributes.interface.physical_link' %></th>
        <%= render :partial => "shared/plugins_table_headers" %>
        <% if current_user.may_update_interfaces? or current_user.may_index_interfaces? %>
        <th></th> 
        <% end %>
        <% if current_user.may_destroy_interface?(Interface.new) %>
        <th></th> 
        <% end %>
      </tr>

      <% @interfaces.each_with_index do |interface,i| %>
        <% css_class = i%2 == 0 ? "even" : "odd" %>
        <tr class="<%= css_class %>" >
          <td>
            <%=h interface.name + (interface.description.blank? ? "" : " (#{interface.description})") %><br/>
            <%= link_to Graph.new(:element => interface).img("day", "small"), graph_interface_path(interface) %>
          </td>
          <td><%= interface.kind %></td>
          <td><%=h interface.vlan_id %></td>
          <td><%= interface.addresses.collect{ |a| a.ip}.join("<br/>") %></td>
          <td <%= interface.physical_link ? 'class="enable_color"' : 'class="disable_color"' %>><%=h interface.status %></td>
          <%= render :partial => "shared/plugins_table_cells", :locals => {:object => interface} %>
          <% if current_user.may_update_interface?(interface) %>
            <td><%= link_to t('buttons.edit'), edit_interface_path(interface) %></td>
          <% elsif current_user.may_show_interface?(interface) %>
            <td><%= link_to t('buttons.show'), interface_path(interface) %></td>
          <% end %> 
          <% if current_user.may_destroy_interface?(interface) %>
          <td><%= link_to t('buttons.delete'), interface, :confirm => t('messages.confirm'), :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @interfaces %>
</div>

