<% content_for :javascript do %>
  <%= javascript_include_tag "highstock" %>
  <%= javascript_include_tag "sequreispcharts" %>
<% end %>

<script type="text/javascript">
  $(function() {
    $("#tabs").tabs();
  });

  $(document).ready(function() {
    instant = new Highcharts.Chart(<%= @graphs["instant"].graph! %>);
   <% @periods.times do |i| %>
     new Highcharts.StockChart(<%= @graphs["interface_period_#{i}"].graph! %>);
   <% end %>
  });
</script>

<%= heading "#{@interface.name} [#{@interface.mac_address}] #{@interface.kind}" %>
<% content_for :title, @interface.name %>

<div id=<%= @graphs["instant"].render %> style="height:247px; width:860px; float:left;"></div>
<div class="separador" style='margin-bottom: 5px;'></div>

<% content_tag(:div, "", :id => "tabs") do %>
  <ul>
    <% @periods.times do |period| %>
      <li><a href=<%="#tabs-#{period}"%>><%= "Period #{period}" %></a></li>
    <% end %>
  </ul>

  <% @periods.times do |period| %>
    <% content_tag(:div, "", :id => "tabs-#{period}" ) do %>
      <div id=<%= @graphs["interface_period_#{period}"].render %> style="height:450px; width:800px; float:left;"></div>
      <div class="separador" style='margin-bottom: 5px;'></div>
    <% end %>
  <% end %>
<% end %>
