<style type="text/css">
 #plan_ceil_down, #plan_ceil_up, #plan_burst_down, #plan_burst_up, #plan_long_download_max, #plan_long_upload_max {
   width: 60px;
 }
 #plan_name {
   width: 300px;
 }
</style>

<script type="text/javascript">
  function howUseCirSelect (){
   selected = $('#plan_how_use_cir').val();
   if (selected == 'percentage'){
     $('#plan_value_cir_re_used_input').hide();
     $('#plan_total_cir_up_input').hide();
     $('#plan_total_cir_down_input').hide();
     $('#plan_cir_percentage_input').show();
     $('#plan_cir_percentage').val('');
   } else if (selected == 're_used'){
     $('#plan_value_cir_re_used_input').show();
     $('#plan_total_cir_up_input').hide();
     $('#plan_total_cir_down_input').hide();
     $('#plan_cir_percentage_input').hide();
     $('#plan_value_cir_re_used').val('');
   } else if (selected == 'total_cir'){
     $('#plan_value_cir_re_used_input').hide();
     $('#plan_total_cir_up_input').show();
     $('#plan_total_cir_down_input').show();
     $('#plan_cir_percentage_input').hide();
     $('#plan_total_cir_down').val('');
     $('#plan_total_cir_up').val('');
   };
 };
 $(function(){
   howUseCirSelect();
   $('#plan_how_use_cir').change(howUseCirSelect);
 });
</script>

<div id="main">
  <% semantic_form_for @plan do |form| %>
    <%= error_messages @plan %>
    <% form.inputs do %>
      <%= form.input :name, :wrapper_html => { :class => "left" } %>
      <%= form.input :provider_group, :wrapper_html => { :class => "left" } %>
       <div style="clear: both"></div>
        <%= form.input :ceil_down, :wrapper_html => { :class => "left" } %>
        <%= form.input :ceil_up, :wrapper_html => { :class => "left" } %>
        <div style="clear: both"></div>
	<%= form.input :how_use_cir,  :as => :select, :collection => select_how_use_cir, :include_blank => false, :selected => @plan.default_value_for_which_use_cir %>
	<%= form.input :value_cir_re_used, :as => :select, :collection => (1..32).map{|val| ["1:#{val}", (1.0/val).round(7)]}, :include_blank => false, :selected => @plan.default_value_for_cir_reused, :wrapper_html => { :class => "left" } %>
	<%= form.input :cir_percentage, :input_html => { :value => @plan.cir_up }, :wrapper_html => { :class => "left" } %>
	<div style="clear: both"></div>
	<%= form.input :total_cir_up, :wrapper_html => { :class => "left" } %>
	<%= form.input :total_cir_down, :wrapper_html => { :class => "left" } %>
	<div style="clear: both"></div>
	<% form.inputs :name => I18n.t('fieldsets.plan.advanced'), :context_help => { :path => { :custom => 'plan.fieldsets.advanced' } } do %>
	<div style="clear: both"></div>
	<%= form.input :long_download_max, :wrapper_html => { :class => "left" } %>
	<%= form.input :long_upload_max, :wrapper_html => { :class => "left" } %>
	<div style="clear: both"></div>
      <% end %>
      <%= form_extensions form%>
    <% end %>
    <% if current_user.may_update_plan?(@plan) or current_user.may_create_plan? %>
      <% form.buttons do %>
        <%= if @commit_text.nil? then form.commit_button else form.commit_button @commit_text end %>
      <% end %>
    <% end %>
  <% end %>
</div>
