<style type="text/css">
  #plan_rate_down, #plan_ceil_down, #plan_rate_up, #plan_ceil_up, #plan_burst_down, #plan_burst_up, #plan_long_download_max, #plan_long_upload_max {
    width: 60px;
  }
  #plan_name {
    width: 300px;
  }
</style>

<% unless current_user.may_update_plan?(@plan) %>
<script type="text/javascript">
  $(function(){
    $('input,select,textarea').attr('disabled',true)
  })  
</script>
<% end %>
<div id="main">
<% semantic_form_for @plan do |form| %>
  <%= error_messages @plan %>
  <% form.inputs do %>
    <%= form.input :name, :wrapper_html => { :class => "left" } %> 
    <%= form.input :provider_group, :wrapper_html => { :class => "left" } %> 
    <div style="clear: both"></div> 
    <%= form.input :rate_down, :wrapper_html => { :class => "left" } %> 
    <%= form.input :ceil_down, :wrapper_html => { :class => "left" } %> 
    <%= form.input :rate_up, :wrapper_html => { :class => "left" } %> 
    <%= form.input :ceil_up, :wrapper_html => { :class => "left" } %> 
    <div style="clear: both"></div> 
    <% form.inputs :name => I18n.t('fieldsets.plan.advanced') do %>
      <%= form.input :burst_down, :wrapper_html => { :class => "left" } %>
      <%= form.input :burst_up, :wrapper_html => { :class => "left" } %>
      <div style="clear: both"></div> 
      <%= form.input :long_download_max, :wrapper_html => { :class => "left" } %>
      <%= form.input :long_upload_max, :wrapper_html => { :class => "left" } %>
      <div style="clear: both"></div> 
      <%= form.input :transparent_proxy %>
    <% end %>
    <%= form_extensions form%>
  <% end %>
  <% if current_user.may_update_plan?(@plan) or current_user.may_create_plan? %>
    <% form.buttons do %>
      <%= if @commit_text.nil? then form.commit_button else form.commit_button @commit_text end %>
    <% end %>
  <% end %>
<% end %>
</div>
