  <%= yield :page_header %>
  <title>SequreISP | <%= yield :title %></title>
  <%# stylesheet_link_tag 'scaffold' %>
  <%#= stylesheet_link_tag "formtastic" %>
  <%#= stylesheet_link_tag "formtastic_changes" %>
  <%= stylesheet_link_tag "application" %>
  <%#= stylesheet_link_tag "easy" %>
  <!--<link href="http://dl.dropbox.com/u/295383/Clientes/sequre/stylesheets/easy.css" media="screen" rel="stylesheet" type="text/css" />-->
  <%= stylesheet_link_tag "easy" %>
  <%= stylesheet_link_tag "easyprint", :media => "print" %>
  <%= stylesheet_link_tag "SimplyButtons" %>
  <%= stylesheet_link_tag "tablecloth" %>
  <%= stylesheet_link_tag "form"  %>
  <%= javascript_include_tag "jquery", "application", "easy", "main", "tablecloth", "SimplyButtons", "jquery.cookie" %>
  <%= yield :javascript %>