<script type="text/javascript">
  $(function(){
  $('ul.nav > li').mouseover(function(){
    $(this).find('ul.submenu').show();
  })
  $('ul.nav > li').mouseout(function(){
    $(this).find('ul.submenu').hide()
  })
})
</script>
<style>
ul.submenu {
  background: none repeat scroll 0 0 rgba(0,0,0,0.95);
  display: none;
  left: 0;
  padding: 5px 10px;
  position: absolute;
  top: 32px;
  width: 200px;
  z-index: 1000;
  margin-left: -16px;
}
ul.submenu li a {
  border-left: 1px solid #54758A;
  border-right: none;
  padding-left: 0.4em;
}
ul li a.last {
  border-right: none;
}
ul li a:hover {
  color: #507588;
}
ul li a.no_pointer {
  cursor: text;
}
ul li a:hover.no_pointer {
  cursor: default;
  color: #274F5B;
}
</style>
<% if current_user %>
  <div id="menu">
    <ul class="nav">
      <% if current_user.may_index_clients? %>
        <li><%= link_to t('menu.clients'), clients_path %></li>
      <% end %>

      <% if current_user.may_index_contracts? %>
        <li><%= link_to t('menu.contracts'), contracts_path %></li>
      <% end %>

      <% if current_user.may_index_plans? %>
        <li><%= link_to t('menu.plans'), plans_path %></li>
      <% end %>

      <% if current_user.may_index_providers? %>
        <li><a class="no_pointer" href="javascript:void(null)"><%= t('menu.providers') %></a>
          <ul class="submenu">
            <% if current_user.may_index_providers? %>
              <li><%= link_to t('menu.providers'), providers_path %></li>
            <% end %>
            <% if current_user.may_index_provider_groups? %>
              <li><%= link_to t('menu.provider_groups'), provider_groups_path %></li>
            <% end %>
            <% if current_user.may_index_interfaces? %>
              <li><%= link_to t('menu.interfaces'), interfaces_path %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if current_user.may_show_dashboard? %>
        <li><%= link_to t('menu.dashboard'), dashboard_path %></li>
      <% end %>
      <% if current_user.may_index_configuration? %>
        <li><a class="no_pointer" href="javascript:void(null)"><%= t('menu.configuration') %></a>
          <ul class="submenu">
            <% if current_user.may_index_configuration? %>
              <li><%= link_to t('menu.general_configuration'), configurations_path %></li>
            <% end %>
            <% if current_user.may_index_users? %>
            <li><%= link_to t('menu.users'), users_path %></li>
            <% end %>
            <% if current_user.may_index_avoid_balancing_hosts? %>
            <li><%= link_to t('menu.avoid_balancing_hosts'), avoid_balancing_hosts_path %></li>
            <% end %>
            <% if current_user.may_index_always_allowed_sites?%>
            <li><%= link_to t('menu.always_allowed_sites'), always_allowed_sites_path %></li>
            <% end %>
            <% if current_user.may_index_iproutes? %>
            <li><%= link_to t('menu.iproutes'), iproutes_path %></li>
            <% end %>
            <% if current_user.may_index_anti_abuse_rules? %>
            <li><%= link_to t('menu.anti_abuse_rules'), anti_abuse_rules_path %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
      <% if current_user.may_index_backup? %>
        <li><%= link_to t('menu.backups'), backup_path %></li>
      <% end %>

      <% if plugins_menu_links.any? %>
        <li> <a id="plugins_button" class="no_pointer" href="javascript:void(null)"> <%=t 'menu.modules' %></a>
          <ul class="submenu">
            <% plugins_menu_links.each do |link| %>
            <li> <%= link %> </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if current_user.may_index_audit? %>
        <li><%= link_to t('menu.audits'), audits_path %></li>
      <% end %>

      <% if current_user.may_command_logs? %>
        <li><%= link_to t('menu.command_log'), command_logs_path %></li>
      <% end %>

      <% if current_user.may_show_about? %>
        <li><a id="plugins_button" class="no_pointer last" href="javascript:void(null)"> <%=t 'menu.help' %></a>
          <ul class="submenu" style="width:150px;">
            <li><%= link_to t('menu.about'), about_path %></li>
            <li><%= link_to t('menu.guides'), sequreisp_guides_url %></li>
            <li><%= link_to t('menu.support'), support_url %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div style="clear:both"> </div>
<% end #if current_user %>
