<script type="text/javascript">
  $(function(){
  $('ul.nav > li').mouseover(function(){
    $(this).find('ul.submenu').show();
  })
  $('ul.nav > li').mouseout(function(){
    $(this).find('ul.submenu').hide()
  })
})
</script>
<style>
ul.submenu {
  background: none repeat scroll 0 0 #E3E2DA;
  display: none;
  left: 0;
  padding: 5px 10px;
  position: absolute;
  top: 32px;
  width: 200px;
  z-index: 1000;
  margin-left: -16px;
}
ul.submenu li a {
  border-left: 1px solid #C4C4B5;
  border-right: none;
  padding-left: 0.4em;
}
ul li a.last {
  border-right: none;
}
ul li a:hover {
  color: #c14242;
}
</style>
<% if current_user %>
  <div id="menu">
    <ul class="nav">
      <% if current_user.may_index_clients? %>
        <li><%= link_to t('menu.clients'), clients_path %></li>
      <% end %>

      <% if current_user.may_index_contracts? %>
        <li><%= link_to t('menu.contracts'), contracts_path %></li>
      <% end %>

      <% if current_user.may_index_plans? %>
        <li><%= link_to t('menu.plans'), plans_path %></li>
      <% end %>

      <% if current_user.may_index_providers? %>
        <li><%= link_to t('menu.providers'), providers_path %>
          <ul class="submenu">
            <% if current_user.may_index_provider_groups? %>
            <li><%= link_to t('menu.provider_groups'), provider_groups_path %></li>
            <% end %>
            <% if current_user.may_index_interfaces? %>
            <li><%= link_to t('menu.interfaces'), interfaces_path %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if current_user.may_show_dashboard? %>
        <li><%= link_to t('menu.dashboard'), dashboard_path %></li>
      <% end %>

      <% if current_user.may_index_configuration? %>
        <li><%= link_to t('menu.configuration'), configurations_path %>
          <ul class="submenu">
            <% if current_user.may_index_users? %>
            <li><%= link_to t('menu.users'), users_path %></li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if current_user.may_index_backup? %>
        <li><%= link_to t('menu.backups'), backup_path %></li>
      <% end %>

      <% if plugins_menu_links.any? %>
        <li> <a id="plugins_button" href="#"> <%=t 'menu.modules' %></a>
          <ul class="submenu">
            <% plugins_menu_links.each do |link| %>
            <li> <%= link %> </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if current_user.may_index_audit? %>
        <li><%= link_to t('menu.audits'), audits_path %></li>
      <% end %>

      <% if current_user.may_show_about? %>
        <li><%= link_to t('menu.about'), about_path, :class => 'last' %></li>
      <% end %>
    </ul>
  </div>
  <div style="clear:both"> </div>
<% end #if current_user %>
