<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= yield :page_header %>
  <%= render :partial => "layouts/partials/head" %>
</head>
<body <%= yield :body_attributes %>>
  <div id="container" class="centered">
    <%= render :partial => "layouts/partials/header" %>
    <div class="content">
      <%= render :partial => "layouts/partials/apply_changes_banner" %>
      <%= render :partial => "layouts/partials/menu" %>
      <%= yield :sequreisp_plugin_menu %>
      <%= render :partial => "layouts/partials/notification" %>
      <div id="heading">
        <%= yield :heading  %>
      </div>
      <div class="yield">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => "layouts/partials/footer" %>
  </div>
  <%= render :partial => "layouts/partials/context_help" %>
</body>
</html>
